@import 'variables';
@font-face {
  font-family: 'VisbyRoundCF-Medium';
  src: url(./fonts/VisbyRoundCF-Medium.otf) format('opentype');
}

@font-face {
  font-family: 'VisbyRoundCF-DemiBold';
  src: url(./fonts/VisbyRoundCF-DemiBold.otf) format('opentype');
}

@font-face {
  font-family: 'VisbyRoundCF-Bold';
  src: url(./fonts/VisbyRoundCF-Bold.otf) format('opentype');
}

@font-face {
  font-family: 'VisbyRoundCF-ExtraBold';
  src: url(./fonts/VisbyRoundCF-ExtraBold.otf) format('opentype');
}

@font-face {
  font-family: 'VisbyRoundCF-Heavy';
  src: url(./fonts/VisbyRoundCF-Heavy.otf) format('opentype');
}

* {
  font-family: 'VisbyRoundCF-DemiBold', -apple-system, BlinkMacSystemFont,
    'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
    'Droid Sans', 'Helvetica Neue', sans-serif;
}

// general
body {
  height: 100%;
  width: 100vw;
  background: linear-gradient(45deg, $primary-color, $third-color);
  margin: 0;
}

// landing bg
.landing-bg {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  z-index: -1;
}

nav {
  background-color: rgb(246, 246, 246) !important;

  img {
    margin-left: 10vh;
    width: 4rem !important;
  }
  .navbar-brand {
    font-family: 'VisbyRoundCF-Bold';
    font-size: 1.7em;
    letter-spacing: 0.8px;
    color: $primary-color !important;
    cursor: default !important;
  }

  .nav-link {
    font-size: 1.4em;

    &:hover {
      color: $secondary-color !important;
    }

    &.active {
      color: rgba(0, 0, 0, 0.5) !important;
      &:hover {
        color: $secondary-color !important;
      }
    }
  }

  Button {
    margin-right: 10vh;
  }
}

// HERO
#hero {
  display: flex;
  align-items: center;
  color: $fourth-color;
  justify-content: space-between;
  margin: 10vh;
  font-size: 24px;
  right: 0;
  left: 0;

  h2 {
    font-size: 70px;
  }

  img {
    height: 40%;
    width: 40%;
  }
  .button-wrapper {
    display: flex;

    button {
      border-style: none;
      border-radius: 5px;
      margin: 20px;
      color: $primary-color;

      &:first-child {
        margin-left: 0px;
      }

      a {
        font-style: none;
        color: $primary-color;
        text-decoration: none;
      }

      &:hover {
        a {
          color: $secondary-color;
        }
        color: $secondary-color;
      }
    }
  }
}

// features
#features {
  background-color: rgb(246, 246, 246);
  margin-top: 20vh;
  position: relative;

  a {
    text-decoration: none;
    cursor: default;

    &:hover {
      text-decoration: none;
    }

    h1 {
      padding-top: 2vw;
      font-size: 3.5em;
      text-align: center;
      letter-spacing: 1px;
      font-family: 'VisbyRoundCF-Bold';
      color: $primary-color;
      padding: 40px 0;
      margin: 0;
    }
  }

  figure {
    height: auto;
    display: flex;
    align-items: center;
    padding: 2vw 0;
    color: $primary-color;

    img {
      min-width: 50%;
      width: 960px;
      height: auto;
      margin: 0 4vw;
    }

    &:nth-last-child(2) {
      margin: 0;
      justify-content: flex-end;
    }

    &:first-child {
      padding-top: 4vw;
    }

    &:last-child {
      padding-bottom: 4vw;
      margin-bottom: 0;
    }
  }

  figcaption {
    padding: 4vw;
    color: $primary-color;
    text-align: center;
    font-size: 2.5em;
    font-weight: 750;
    letter-spacing: 0.5px;
  }
}

// ----DOWNLOAD----
#download-title {
  margin-top: 5%;

  h2 {
    font-style: 'VisbyRoundCF-Bold';
    color: $fourth-color;
    text-align: center;
    font-size: 2.2em;
    letter-spacing: 0.5px;
  }

  #download {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10vh;
    font-size: 1.5rem;
    color: $fourth-color;
  }

  .download-icons {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: baseline;
    text-decoration: none;
    color: $fourth-color;
  }
  .download-icon {
    margin: 0 10%;
  }

  a:hover {
    opacity: 0.7;
  }
}

/* Contribute */
#contribute {
  background-color: rgb(246, 246, 246);
  padding-top: 80px;
  padding-bottom: 40px;
  position: relative;

  a {
    text-decoration: none;
    cursor: default;

    &:hover {
      text-decoration: none;
    }

    h1 {
      text-align: center;
      color: $primary-color;
    }
  }

  h3 {
    text-align: center;
    color: $primary-color;
    font-style: italic;
  }

  figure {
    display: flex;
    align-items: center;
    width: 100%;
    margin: 0 auto 20px;
    justify-content: center;
  }

  figure:last-child {
    margin-bottom: 0;
  }

  figcaption {
    padding: 40px;
  }
}

.github-icon {
  color: $primary-color;

  &:hover {
    color: $secondary-color;
  }
}

/* Team */
.team-wrapper {
  a {
    text-decoration: none;
    cursor: default;

    &:hover {
      text-decoration: none;
    }

    h1 {
      color: $fourth-color;
      display: flex;
      justify-content: center;
      margin-bottom: 5%;
      margin-top: 5%;
    }
  }

  .team-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    margin-bottom: 5%;

    .teamProfile {
      color: $fourth-color;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      .team-icon {
        border-radius: 60%;
        border: 10px solid transparent;
        backdrop-filter: blur(5px);
        background-color: rgba(255, 255, 255, 0.3);
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;

        img {
          border-radius: 50%;
          height: 10em;
          width: 10em;
        }

        h4 {
          text-align: center;
        }

        &:hover {
          background-color: $fourth-color;
        }

        .team-links {
          padding: 1%;
          position: relative;
          z-index: 2;

          a {
            padding: 5%;
          }
        }
      }
    }
  }
}
