@import 'variables';

// general
body {
  height: 100vh;
  width: 100vw;
  background: linear-gradient(90deg, $primary-color, $third-color);
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}
// code {
//   font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
//     monospace;
// }

// landing bg
.landing-bg {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
}

#hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 400px;
  color: $fourth-color;
  font-size: 24px;
  margin: auto;
  position: absolute;
  top: 36vh;
  right: 0;
  left: 0;
  h2 {
    font-size: 48px;
  }
}
// features
#features {
  // background-color: rgba(255, 255, 255, 0.8);
  // background-color: rgb(226, 226, 226);
  // border-radius: 200px 200px 0 0;
  margin-top: 80vh;
  // margin-right: 10vw;
  // margin-left: 10vw;
  position: relative;
  // display: flex;
  // flex-direction: column;
  // align-items: center;
  // justify-content: space-between;

  h2 {
    text-align: center;
  }

  figure {
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10vw 10vw;

    img {
      width: 720px;
      height: auto;
    }

    &:first-child {
      background-color: rgb(226, 226, 226);
    }

    &:last-child {
      margin-bottom: 0;
      background-color: rgb(226, 226, 226);
    }
  }

  figcaption {
    // padding: 40px;
    color: $primary-color;
    width: 720px;
    text-align: center;
    font-size: 2.5em;
    font-weight: 750;
    letter-spacing: 0.5px;
  }
  .second-caption {
    color: white;
  }
}

/* Contribute */

#contribute {
  // background-color: rgba(255, 255, 255, 0.8);
  background-color: rgb(255, 255, 255);
  padding-top: 80px;
  padding-bottom: 40px;

  position: relative;

  h1 {
    text-align: center;
    color: $primary-color;
  }
  h3 {
    text-align: center;
    color: $primary-color;
    font-style: italic;
  }
  figure {
    display: flex;
    align-items: center;
    width: 100%;
    margin: 0 auto 20px;
    justify-content: center;
  }
  figure:last-child {
    margin-bottom: 0;
  }
  figcaption {
    padding: 40px;
  }
}

.github-icon {
  color: $primary-color;
  &:hover {
    opacity: 0.7;
  }
}

/* Team */
.team-wrapper {
  h1 {
    color: $fourth-color;
    display: flex;
    justify-content: center;
    margin-bottom: 5%;
    margin-top: 5%;
  }

  .team-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    margin-bottom: 5%;

    .teamProfile {
      color: $fourth-color;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      .team-icon {
        border-radius: 60%;
        border: 10px solid transparent;
        backdrop-filter: blur(5px);
        background-color: rgba(255, 255, 255, 0.3);
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;

        img {
          border-radius: 50%;
          height: 10em;
          width: 10em;
        }

        h4 {
          text-align: center;
          // margin-top: 10%;
        }

        &hover {
          background-color: $fourth-color;
        }

        .team-links {
          padding: 1%;
          position: relative;
          z-index: 2;

          a {
            padding: 5%;
          }
        }
      }
    }
  }
}
