@import 'variables';

@font-face {
  font-family: 'VisbyRoundCF-Medium';
  src: url(./fonts/VisbyRoundCF-Medium.otf) format('opentype');
}

@font-face {
  font-family: 'VisbyRoundCF-DemiBold';
  src: url(./fonts/VisbyRoundCF-DemiBold.otf) format('opentype');
}

@font-face {
  font-family: 'VisbyRoundCF-Bold';
  src: url(./fonts/VisbyRoundCF-Bold.otf) format('opentype');
}

@font-face {
  font-family: 'VisbyRoundCF-ExtraBold';
  src: url(./fonts/VisbyRoundCF-ExtraBold.otf) format('opentype');
}

@font-face {
  font-family: 'VisbyRoundCF-Heavy';
  src: url(./fonts/VisbyRoundCF-Heavy.otf) format('opentype');
}

* {
  font-family: 'VisbyRoundCF-DemiBold', -apple-system, BlinkMacSystemFont,
    'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
    'Droid Sans', 'Helvetica Neue', sans-serif;
}

// general
body {
  height: 100%;
  width: 100%;
  margin: 0;
  overflow-x: hidden;
  background: linear-gradient(
    45deg,
    rgb(19, 14, 92),
    rgb(0, 5, 78),
    $primary-color,
    $primary-color,
    teal
  );
}

// landing bg
.landing-bg {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  z-index: -1;
}

nav {
  background-color: rgb(246, 246, 246) !important;
  padding: 0.5vh 0 !important;

  img {
    margin-left: 10vh;
    width: 4rem !important;
  }

  .navbar-brand {
    font-family: 'VisbyRoundCF-Bold';
    font-size: 1.7em;
    letter-spacing: 0.8px;
    color: $primary-color !important;
    cursor: default !important;
  }

  a {
    font-size: 1.3em;
    color: $primary-color !important;
    padding-left: 1em;

    &:hover {
      color: $secondary-color !important;
      cursor: pointer;
    }

    &.active {
      color: $primary-color !important;

      &:hover {
        color: $secondary-color !important;
      }
    }
  }

  Button {
    margin-right: 10vh;
    background-color: $primary-color !important;

    &:hover {
      background-color: $secondary-color !important;
    }
  }
}

// HERO
#hero {
  display: flex;
  align-items: center;
  color: $fourth-color;
  justify-content: space-between;
  margin: 10vh;
  font-size: 24px;
  right: 0;
  left: 0;

  h2 {
    font-size: 70px;
  }

  img {
    height: 40%;
    width: 40%;
    -webkit-filter: drop-shadow(5px 5px 5px #222);
    filter: drop-shadow(5px 5px 5px #222);
  }
  .button-wrapper {
    display: flex;

    button {
      border-style: none;
      border-radius: 5px;
      margin: 20px;
      color: $primary-color;

      &:first-child {
        margin-left: 0px;
      }

      a {
        font-style: none;
        color: $primary-color;
        text-decoration: none;
      }

      &:hover {
        a {
          color: $secondary-color;
        }

        color: $secondary-color;
      }
    }
  }
}

// features
#features {
  background-color: rgb(246, 246, 246);
  margin-top: 20vh;
  position: relative;
  h1 {
    padding-top: 6vh;
    font-size: 3.5em;
    text-align: center;
    letter-spacing: 1px;
    font-family: 'VisbyRoundCF-Bold';
    color: $primary-color;
    margin: 0;
  }

  figure {
    height: auto;
    display: flex;
    align-items: center;
    color: $primary-color;
    padding: 10vh 10vh;
    margin: 0;

    img {
      width: 50vw;
      height: auto;
    }

    &:nth-last-child(2) {
      justify-content: flex-end;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  figcaption {
    padding: 0 1vw;
    color: $primary-color;
    text-align: center;
    font-size: 2.5em;
    font-weight: 750;
    letter-spacing: 0.5px;
    margin: 0;
    width: 40vw;
  }
}

// ----DOWNLOAD----
#download-title {
  margin-top: 5%;

  h2 {
    font-style: 'VisbyRoundCF-Bold';
    color: $fourth-color;
    text-align: center;
    font-size: 2.2em;
    letter-spacing: 0.5px;
  }

  #download {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10vh;
    font-size: 1.5rem;
    color: $fourth-color;
  }

  .download-icons {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: baseline;
    text-decoration: none;
    color: $fourth-color;
  }

  .download-icon {
    margin: 0 10%;
  }

  a:hover {
    opacity: 0.7;
  }
}

/* Contribute */
#contribute {
  background-color: rgb(246, 246, 246);
  padding-top: 10vh;
  position: relative;

  h1 {
    text-align: center;
    color: $primary-color;
  }

  h3 {
    text-align: center;
    color: $primary-color;
    font-style: italic;
  }

  figure {
    display: flex;
    align-items: center;
    width: 100%;
    margin: 0 auto 20px;
    justify-content: center;
  }

  figure:last-child {
    margin-bottom: 0;
  }

  figcaption {
    padding: 10vh;
  }
}

.github-icon {
  color: $primary-color;

  &:hover {
    color: $secondary-color;
  }
}

/* Team */
.team-wrapper {
  h1 {
    color: $fourth-color;
    display: flex;
    justify-content: center;
    margin-bottom: 5%;
    margin-top: 5%;
  }

  .team-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    margin-bottom: 5%;

    .teamProfile {
      color: $fourth-color;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      .team-icon {
        border-radius: 60%;
        border: 10px solid transparent;
        backdrop-filter: blur(5px);
        background-color: rgba(255, 255, 255, 0.3);
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;

        img {
          border-radius: 50%;
          height: 10em;
          width: 10em;
          z-index: 2;
        }

        h4 {
          text-align: center;
        }

        &:hover {
          background-color: $fourth-color;
        }
      }
      .team-links {
        padding: 1%;
        position: relative;
        z-index: 1;
        display: flex;
        justify-content: space-between;
        width: 100px;
        svg:hover {
          color: $secondary-color;
        }
      }
    }
  }
}
